<div align=center>
<%= form_with model: holiday do |form| %>
      <%= form.label :name %>
      <br>
      <%= form.text_field :name %>
    <br>
   <%= render "error", holiday: @holiday %>
        <br>
      <%= form.label :date %>
      <br>
  <%= form.text_field :date, "data-provide" => 'datepicker' %>
    <br>
  <%= render "errorfordate", holiday: @holiday %>
        <br>
      <%= form.submit %>
  <% end %>
  </div>
  