<div align=center>
<%= form_with(model: @department, id: "my_form")do |form| %>
  <div>
    <%= form.label :name %><br>
    <br>
    <%= form.text_field :name, :class => "required" %>
    <% @department.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
      <% end %>
  </div>
  <br>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<div align=center>

<script type='text/javascript'>
    $( document ).ready(function() {
      FormValidation.validateForm();
    });
  </script>


  